@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  background-color: #fafaf9; /* stone-50 */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}